//Base font size for the site
$base-font-size:12px;
//Base line height for the site
$base-line-height:1.4;

$h1-size:3 * $base-font-size;
$h2-size:2 * $base-font-size;
$h3-size:5/3 * $base-font-size;
$h4-size:14/12 * $base-font-size;